<app-header titulo="Cards"></app-header>


<ion-content>

  <ion-card >
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content >
      <ion-list >
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="/assets/cristiano-ronaldo.jpg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="/assets/cristiano-ronaldo.jpg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="/assets/cristiano-ronaldo.jpg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="/assets/cristiano-ronaldo.jpg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="success">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>


    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius tempora sequi perferendis, aut id in dolorem pariatur ea iusto totam, quos saepe unde ipsum neque animi alias quasi praesentium? Voluptas.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-item>
      <img src="https://us.123rf.com/450wm/ponomarenko13/ponomarenko131507/ponomarenko13150700649/42246115-el-concepto-de-la-educaci%C3%B3n-la-ciencia-y-el-conocimiento-.jpg?ver=6" >

    </ion-item>

    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae iusto cupiditate reiciendis minima quas commodi numquam, possimus odio autem asperiores dolores doloremque esse, ipsum vero obcaecati saepe aliquid aperiam alias.
    </ion-card-content>
  </ion-card>

</ion-content>
